export(AOI)
export(bnSpatialize)
export(bulkDiscretize)
export(dataDiscretize)
export(extractValuesByMask)
export(importClasses)
export(linkNodeRaster)
export(linkNodeRasterList)
export(loadNetwork)
export(mapTarget)
export(netParallelQuery)
export(netQuery)
export(setClasses)
import(parallel)
import(gRain)
import(raster)
import(foreach)
import(doParallel)

